# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\MODULE_3\9. Tong quan ung dung Web\baitap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
