body {
    margin: 0;
}
#header{
    background:  blanchedalmond;
    height: 100px;
    width: 100%;
}
#main{
    background: burlywood;
    height: 400px;
    width: 70%;
    float: left;
    position: relative;
}
#sidebar{
    background: pink;
    height: 400px;
    width: 30%;
    float: left;
}
#footer{
    background: plum;
    height: 100px;
    width: 100%;
    clear: both;
}
#main img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
#sidebar img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}